// === fonts ===

$font-basis: 'MyriadPro', sans-serif;
$font-basis-Bold: 'Myriad Pro Bold', sans-serif;
$font-basis-Bold-Condensed: 'Myriad Pro Bold Condensed', sans-serif;

$font-text-additional-1: 'LC Chalk regular', sans-serif;
$font-text-additional-2: 'Segoe UI Regular', sans-serif;

// === color ===

$color-text-basis: #575757;
$color-text-additional-1: #4f3628;
$color-text-additional-2: #e1e1e1;
$color-text-additional-3: #619189;

$color-scroll: #619189;

$color-nav: #4f3628;
$color-nav-hover: #619189;

$color-link: #619189;
$color-link-hover: #4f3628;

$color-btn: #fff;

$bg-1: #f5f5f5;

// === font-size ===

$fz-basis: 14px;

$fz-title: 18px;

$fz-date: 12px;

$fz-nav: 18px;

$fz-btn: 12px;

// === size ===

$body-width: 1014px;
